 <!-- Icons Grid-->
 <section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-window m-auto text-primary"></i></div>
                    <h3>Calidad</h3>
                    <p class="lead mb-0">Fabricado con el mejor cuero del mundo</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                    <h3>Variedad</h3>
                    <p class="lead mb-0">Ropa de hombre, mujer, oversized :)</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-primary"></i></div>
                    <h3>Envio gratis</h3>
                    <p class="lead mb-0">Por compras mayores a 15 dolares</p>
                </div>
            </div>
        </div>
    </div>
</section>